<%-include("../includes/header")%>
<!---->
<div class="form-container">
  <form method="POST" action="/auth/login">
    <div class="heading">Sign in</div>
    <div class="input-wrapper">
      <input type="text" name="username" placeholder="Username" />
    </div>
    <div class="input-wrapper">
      <input type="password" name="password" placeholder="Password" />
    </div>
    <div class="input-wrapper">
      <button type="submit">Sign in</button>
    </div>
    <a href="">Forgot Password ?</a>
    <div class="login-wrapper">
      <div class="facebook"></div>
      <div class="google"></div>
    </div>
    <p>Dont have an account? <a href="/auth/signup">Sign up</a></p>
  </form>
</div>
<%-include("../includes/footer")%>
