<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="/add-board" class="nav-link">Add Board</a>
    </li>
    <div class="logout">
      <li class="nav-item">
        <form method="POST" action="/logout">
          <button class="nav-link">Logout</button>
        </form>
      </li>
    </div>
  </ul>
</nav>
