<%-include("../includes/header")%>
<!---->
<%-include("../includes/nav")%>
<form action="/" class="task-form" method="POST">
  <div class="form-wrapper">
    <h1>Add Board</h1>
    <div class="wrapper">
      <input
        type="text"
        name="name"
        placeholder="Board Name"
        autocomplete="off"
        required="true"
      />
    </div>
    <br />
    <button type="submit">Submit</button>
  </div>
</form>
<%-include("../includes/footer")%>
